body{
	background-color: #ECE8E7;
	display: grid;
	grid-template-columns: 48vw 48vw;
	margin-left: 1,5vw;
	width: 96vw;
}

.intro{
	height: 20%;
	display: flex;
	flex-direction: column;
	color: #848283;
	font-family: 'Times New Roman', Times, serif; 
    font-style: italic; 
}

.intro h2{
	text-align: right;
    font-weight: 600;
    font-size: 1em;
    margin: 0;
    width: 100%;
}

.intro h1{
    font-weight: 500;
    font-size: 4em;
    margin: 0;
}

.intro hr{ /* Цвет линии для остальных браузеров */
    background-color:  #848283; /* Цвет линии для браузера Firefox и Opera */
    min-height: 4px; /* Толщина линии */
    width: 100%;
    border: 0;
}

.wrapper{
	padding: 5%;
}

.mercedes{
	height: 50%;
	width: 100%;
	margin-top: 5%;
}

#photo{
	width: 100%; 
	height: 100%;
}

.mercedes-padding{
	height: 15%;
	width: 100%;
	display: grid;
	grid-template-columns: 30% 55% 15%; 
	margin-top: 18%;"
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: #848283;
  text-decoration: none;
  padding-left: 22px;
  /*padding-top: 10px;*/
}
a:hover {
  color: #ff7b29;
}

li{
	height: 30px;
}

.link-set li div{
	display: flex; flex-direction: row
}

.facebook{
	background-image: url(../assets/images/facebook.png);
}

.linkedin{
	background-image: url(../assets/images/linkedin.png);
}

.instagram{
	background-image: url(../assets/images/instagram.png);
}

.twitter{
	background-image: url(../assets/images/twitter.png);
}

.youtube{
	background-image: url(../assets/images/youtube.png);
}

.icon{
	height: 20px;
	width: 20px;
	background-size: 100%;
	background-repeat: no-repeat;
}

.laureus-icon{
	background-size: auto 100%;
	background-repeat: no-repeat;
	height: 50px;
	background-image: url(../assets/images/laureus-logo.png);
}

p{
	color: #848283;
	font-family: 'Times New Roman', Times, serif; 
}

div.recycle-label{
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-image: url(../assets/images/fsc.png);
	margin-left: 10%;
}

#magazine-content{
	padding-top: 5%;
	padding-bottom: 5%; 
}

#magazine-description{
	display: grid;
	grid-template-columns: 3fr 1fr;
	padding-top: 5%;
	padding-bottom: 5%; 
}

footer{
	display: grid;
	grid-template-columns: 2fr 2fr;
	width: 96vw;
}
