body{
	background-color: #ECE8E7;
	display: grid;
	grid-template-columns: 48vw 48vw;
	margin-left: 1,5vw;
	width: 96vw;
}

.intro{
	height: 20%;
	display: flex;
	flex-direction: column; 
	color: #848283;
	font-family: 'Times New Roman', Times, serif; 
    font-style: italic;
}

h1, span{
	color: #848283;
	font-family: 'Times New Roman', Times, serif; 
}

h1{
	font-style: italic;
	margin: 0;
}

.intro h2{
	text-align: right;
    font-weight: 600;
    font-size: 1em;
    margin: 0;
    width: 100%;
}

.intro h1{
    font-weight: 500;
    font-size: 4em;
    margin: 0;
}

.intro hr{ /* Цвет линии для остальных браузеров */
    background-color:  #848283; /* Цвет линии для браузера Firefox и Opera */
    min-height: 4px; /* Толщина линии */
    width: 100%;
    border: 0;
}

.wrapper{
	padding: 5%;
}

.mercedes{
	height: 50%;
	width: 100%;
	margin-top: 5%;
}

#photo{
	width: 100%; 
	height: 100%;
}

.mercedes-padding{
	height: 15%;
	width: 100%;
	display: grid;
	grid-template-columns: 30% 55% 15%; 
	margin-top: 18%;"
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: #848283;
  text-decoration: none;
  padding-left: 22px;
  /*padding-top: 10px;*/
}
a:hover {
  color: #ff7b29;
}

li{
	height: 30px;
}

.link-set li div{
	display: flex; flex-direction: row
}

.facebook{
	background-image: url(../assets/images/facebook.png);
}

.linkedin{
	background-image: url(../assets/images/linkedin.png);
}

.instagram{
	background-image: url(../assets/images/instagram.png);
}

.twitter{
	background-image: url(../assets/images/twitter.png);
}

.youtube{
	background-image: url(../assets/images/youtube.png);
}

.icon{
	height: 20px;
	width: 20px;
	background-size: 100%;
	background-repeat: no-repeat;
}

.laureus-icon{
	background-size: auto 100%;
	background-repeat: no-repeat;
	height: 50px;
	background-image: url(../assets/images/laureus-logo.png);
}

p{
	color: #848283;
	font-family: 'Times New Roman', Times, serif; 
}

div.recycle-label{
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-image: url(../assets/images/fsc.png);
	margin-left: 10%;
}

#magazine-content{
	padding-top: 5%;
	padding-bottom: 5%; 
}

#magazine-description{
	display: grid;
	grid-template-columns: 3fr 1fr;
	padding-top: 5%;
	padding-bottom: 5%; 
}

footer{
	display: grid;
	grid-template-columns: 2fr 2fr;
	width: 96vw;
}

.wrapper>div{
	height: 45%;
}

.wrapper>div ~ div{
	height: 45%;
}

#magazine-content > p{
	font-size: 0.9em;
}

#magazine-description div > p{
	font-size: 0.52em;
	font-weight: 100;
}

.mercedes-logo{
	width: 85px; 
	height: 85px;
}

.mercedes-benz{
	width: 118px; 
	height: 28px; 
	margin-top: 40%;
}

footer div a{
	text-align: right; 
	display: block; 
	padding: 0 5% 0 0;
}
/*page two*/
.previous-link{
	text-align: left;
	padding-left: 10%;
}

.reset-body{
	margin: 0;
	width: 98.8vw;
	display: block;
}

.reset-body>img{
	width: 100%;
}

/*page three*/

.body-grid{
	height: 97vh;
	grid-template-rows: 19fr 1fr;
	display: grid; 
}

.content-holder{
	display: grid;
	grid-template-rows: repeat(10, 1fr);
	height: 40vh;
	padding: 10vh 5% 45vh 30%;
}

.content-number{
	display: grid;
	grid-template-columns: 12fr 1fr;
	font-size: 1em;
	padding: 3% 0 1.5% 10%;
}

.italic{
	font-style: italic;
}

.bold span:first-child{
	font-weight: 700;
	text-decoration: none;
}

.no-left-padding{
	padding-left: 0;
}

#mercedes-front-view{
	background-image: url(../assets/images/mercedes-front-view.png); 
	background-repeat: no-repeat;
	height: 35vh;
	width: 49vh;
	background-size: 100%;
	margin: 8% 0 7% 25%;
}

#mercedes-e-400{
	background-image: url(../assets/images/e-400.png); 
	background-repeat: no-repeat;
	height: 35vh;
	width: 49vh;
	background-size: 100%;
	margin-left: 10%
}